* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #1c1b19;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-family: "DynaPuff", cursive;
}

.nav-items {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  padding: 1.5rem 0.8rem;
  color: goldenrod;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.nav-item:hover {
  color: #fff;
  transform: scale(1.1);
}

header {
  background-color: #000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: goldenrod;
  padding: 1rem 0;
}

.logo-img {
  height: 2rem;
  margin-right: 0.5rem;
}

.container {
  background-color: rgb(216, 245, 235);
}

footer {
  background-color: #000;
  position: fixed;
  padding: 1rem 5%;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-text {
  font-family: "DynaPuff", cursive;
  font-size: 1rem;
  font-weight: 900;
  color: goldenrod;
}
